<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @merdeaf_score.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @merdeaf_score.score %>
</p>

<%= link_to 'Edit', edit_merdeaf_score_path(@merdeaf_score) %> |
<%= link_to 'Back', merdeaf_scores_path %>
