<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @request.word %>
</p>

<p>
  <strong>Public:</strong>
  <%= @request.public_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @request.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @request.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
