<%= javascript_pack_tag 'words' %>
<!-- <p id="notice"><%= notice %></p>

<h2>
  <strong><%= @word.name %></strong>
</h2>

<p>
  <img src=<%= @word.link %>></img>
</p>
<%= link_to 'Back', words_path %> -->